.about__hero {
  height: 86vh;
  background: url('../about.jpg') no-repeat fixed;
  background-size: cover;
}

.about-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // vertical-align: middle;
  height: 86vh;
}

.about__card {
  // margin: auto;
  text-align: right;
  color: $c-main-text;

  &-item {
    // width: 30rem;
    margin-left: 60%;
  }
}
