.index__hero {
  background: url('../old-door.jpg') no-repeat fixed;
  background-size: cover;
}

.headshot {
  padding: 1rem;
  height: 55%;
  text-align: center;
  color: $c-primary;
  font-size: 1.5rem;
  background: transparentize($c-main-text, 0.65);
  border-radius: 0.4rem;

  &-img {
    border-radius: 50%;
  }
}

.quotes {
  display: flex;
  padding-top: 4rem;

  &-left {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    padding: 4rem;
    width: 55%;
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 86vh;
  }

  &-item {
    margin-bottom: 2rem;
    color: $c-primary;
    background: transparentize($c-main-text, 0.55);
    border-radius: 0.4rem;
  }

  &__author {
    text-align: center;
  }
}

.quote {
  font-size: 1.5rem;

}
