.index__hero {
  height: 86vh;
  background: url('../old-door.jpg') no-repeat fixed;
  background-size: cover;
}

.quote-item {
  padding: 4rem 0;
  color: $c-main-text;
}

.quote {
  font-size: 2rem;
}

.right {
  text-align: right;
}

.quote__author {
  text-align: center;
}
