.links__hero {
  height: 86vh;
  background: url('../links.jpg') no-repeat fixed;
  background-size: cover;
}

.link-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 86vh;
}
