.nav {
  padding: 2rem;
  background: $c-primary;
  color: $c-main-text;
}

.nav__logo {
  margin: 0;
}

.nav__flex {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  margin: 0;

  &-link {
    margin: 0.5rem 1rem;
  }
}
