<div class="contact__hero">
  <div class="container">

    <div class="contact-flex">
      <div class="contact__card">
        <h3 class="contact__card-item">phone office</h3>
        <h3 class="contact__card-item">phone cell</h3>
        <h3 class="contact__card-item">email</h3>
        <h3 class="contact__card-item">address</h3>
      </div>
    </div>

  </div>
</div>
