<div class="contact__hero">
  <div class="container">

    <div class="contact-flex">
      <div class="contact__card">
        <h3 class="contact__card-item">Office # <a href="tel:6154449800">(615) 444-9800</a></h3>
        <h3 class="contact__card-item">Cell # <a href="tel:6154278545">(615) 427-8545</a></h3>
        <h3 class="contact__card-item">
        <a href="mailto:lenee_ricketts@hotmail.com">lenee_ricketts@hotmail.com</a></h3>
        <h3 class="contact__card-item">155 Legends Dr. Suite O Lebanon, TN 37087</h3>
      </div>
    </div>

  </div>
</div>
