<div class="about__hero animated slideInLeft">
  <div class="index__hero">
    <div class="container">

      <div class="quotes">

        <div class="quotes-left">stuff and things</div>

        <div class="quotes-right">
          <div class="quotes-item">
            <div class="quote">"Lenee was so great. She did the things and it was awesome!"</div>
            <div class="quotes__author">Taylor Bray</div>
          </div>

          <div class="quotes-item">
            <div class="quote right">"She is probably the greatest person ever!"</div>
            <div class="quotes__author right">Judah Bray</div>
          </div>

          <div class="quotes-item">
            <div class="quote">"I can't believe Lenee exists, she is amazing. Every time I buy a home she will be involved!"</div>
            <div class="quotes__author">Derrick Bray</div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
