<div class="whole-thing">
  <div class="nav">
    <div class="container">
      <div class="nav__flex">
        <h1 class="nav__logo">{{#link-to "index"}}Lenee Hancock Ricketts{{/link-to}}</h1>
        <div class="nav__links">
          <h3 class="nav__links-link">{{#link-to "about"}}About{{/link-to}}</h3>
          <h3 class="nav__links-link">{{#link-to "contact"}}Contact Me{{/link-to}}</h3>
          <h3 class="nav__links-link">{{#link-to "links"}}Helpful Links{{/link-to}}</h3>
        </div>
      </div>
    </div>
  </div>
  {{outlet}}
</div>
