<div class="about__hero">
  <div class="container">
    <div class="about-flex">
      <h3 class="about__card">When not assisting buyers and sellers, Lenee' enjoys spending time with her family,
        traveling and bargain shopping. Lenee' and her husband, Scotty, have three children, Leslie (Derrick) Bray,
        Scott (LeAnn) Ricketts and Kaiti Ricketts. Her family is also blessed with 4 grandchildren, Taylor and Judah
        Bray and Adeline and Sam Ricketts. The family also has two dogs, a Border Collie and a West Highland Terrier.
      </h3>
    </div>
  </div>
</div>
