<div class="links__hero">
  <div class="container">
    <div class="link-flex">
      <div class="link__card">
        <h3 class="link__card-item"><a href="http://naeba.org/resources/first-steps">What is a Buyers Agent?</a></h3>
        <h3 class="link__card-item"><a href="http://discoverrealtyandauction.com/">Discover Realty and Auction</a></h3>
        <h3 class="link__card-item"><a href="http://www.realtor.com/">Realtor.com</a></h3>
        <h3 class="link__card-item"><a href="http://www.moving.com/">Preparing to move?</a></h3>
        <h3 class="link__card-item"><a href="http://www.moving.com/real-estate/compare-cities/">City Comparison</a></h3>
        <h3 class="link__card-item"><a href="http://www.greatschools.org/">School Information</a></h3>
      </div>
    </div>
  </div>
</div>
